.NavBar {
  height: 5rem;
  background-color: #4e516a;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavLeft {
  width: 100/3%;
}

.NavCenter {
  width: 100/3%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.NavRight {
  width: 100/3%;
  display: flex;
}

.NavItem {
  margin: 1rem;
  max-height: 100%;
}

.NavItemButton {
  padding: 0.4rem;
  border-radius: 15px;
}

.NavItemButton:hover {
  background-color: #44465c;
  transition: 0.3s;
}

.NavItemButton:not(:hover) {
  transition: 0.2s;
}

/* Reused Navbar Elements (not tailored to Navbar, can be used elsewhere */
.ProfileNavBar {
  height: 3rem;
}

.LogoNavBar {
  height: 3rem;
}
