.DayBox {
    background-color: #6A6D88;
    height: 90%;
    width: 90%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.DayBox:hover {
    border-style: solid;
    transition: 0.05s;
}


.faded {
    color: #C1C1C1;
    background-color: #5B5E76;
}

.full {
    color: white;
    background-color: #6A6D88;
}

.currentday{

}
