.GetStarted {
  width: 8rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #80a0d0;
  color: white;
  border-radius: 10px;
  border-style: none;
  font-size: 1rem;
}

.GetStarted:hover {
  background-color:rgb(121, 149, 173);
  transition: 0.1s;
}

