.EventBlock {
  position: absolute;
  background-color: rgb(255, 245, 157);
  border-style: solid;
  border-color: rgb(199, 191, 119);
  border-radius: 12px;
  width: 100%;
  left: 4rem;
  font-weight: bold;
  padding: 0.6rem;
  top: 0;
}

.EventName {
  margin: 0;
  padding: 0;
}

.EventTime {
  color: rgba(71, 71, 71, 0.479);
  padding: 0;
  margin: 0;
}

.TitleContainer {
  display: flex;
  align-items: center;
}

.EventNameModal {
  color: white;
  background-color: #5b5e76;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 10px;
  margin: 0px;
  margin-right: 0.5rem;
  font-weight: bold;
}

.DescriptionContainer {
  min-height: 3rem;
}

.EventDescriptors p {
  border-bottom: solid;
  border-color: rgb(216, 216, 216);
  border-radius: 10px;
  font-weight: bold;
  padding: 0.5rem;
}

.ClockImage {
  height: 2rem;
  width: 2rem;
}

.PinImage {
  height: 2rem;
  width: 2rem;
}

.PencilImage {
  height: 1rem;
  width: 1rem;
}

.TrashButton {
  border: none;
  background: none;
  border-radius: 15px;
}

.TrashButton:hover {
  transition: 0.2s;
  background-color: rgb(235, 235, 235);
}

.TrashImg {
  height: 3rem;
  width: 3rem;
}

.SmallerText {
  font-size: 0.6rem;
  height: 1rem;
}
