.ProfilePictureIcon {
  border-radius: 100px;
}

.DropDownPosition {
  position: absolute;
  top: 100%; /* Position below the button */
  right: 0.2rem;
  z-index: 1000; /* Ensure the dropdown appears above other content */
}

.DropDownContainer {
  position: relative;
}

.DropDownOption {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-weight: bold;
  margin: 0.4rem;
  color: #5b5e76;
  padding: 0.3rem;
  border-radius: 10px;
}

.DropDownOption:hover {
  background-color: rgba(182, 182, 182, 0.171);
}

/* Set address */

.DisplayLimiter {
  display: inline-block;
  margin: 0.25rem 0.25rem 1rem 0.25rem;
}

.SetAddressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SetAddress {
  color: #5b5e76;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.SearchContainer {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
