@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("front_end/src/assets/General/background.svg");
}

button {
  font-weight: bold;
}
